/* .no-account {
    text-align: center;
    color: black;
    margin-top: 10px;
  }
  
  .no-account a {
    color: #5e38b2;
    text-decoration: none;
  }
  
  .no-account a:hover {
    text-decoration: underline;
  }
   */