.body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000; /* Черный цвет фона (fallback) */
    color: #fff; /* Белый цвет текста */
    background-image: linear-gradient(to bottom, #1E224E 15%, #000000 50%, #000000 100%);
}
